/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	width: 800px;
	letter-spacing: 1px;
	margin: 20px;
}

code {
	font-style: italic;
	font-weight: 700;
}

h1, h2, h3 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
	font-size: 40px;
	line-height: 100px;
	
}

h2 {
	font-size: 30px;
	line-height: 70px;
}

h3 {
	font-size: 20px;
	line-height: 70px;
}

header {
	
}

main {

}

p {
	text-indent: 50px;
	font-size: 15px;
	line-height: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 20px;
	text-align: left;
}

#intro {

}

#how-does-it-work, #influence, #joke {

}